
h1, h2 {
  text-align: center;
}

button {
  margin: 5px;
  border-radius: 4px;
  font-size: large;
}

.center {
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px
}


